---
import { blogList } from '../../components/contents/Blogs.astro';
import ProjectLayout from '../../layouts/BasicLayout.astro';
import Wrapper from '../../layouts/Wrapper';
import { Caption, Heading, Paragraph } from '../../components/typography';
import { ItemInViewAnimation } from '../../components/InViewAnimation'

export function getStaticPaths() {
  return blogList.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

interface BlogProps {
	title: string;
	abstract: string;
	href: string;
  date: string;
  slug: string;
}

export interface Props {
  blog: BlogProps;
}

const { slug } = Astro.params;
const { blog } = Astro.props;

---

<ProjectLayout
  title={`${blog.title} ― Qianhui`}
  description={blog.abstract}
>
  <main id="main" class="bg-neutral-50 text-neutral-50 w-full h-full">
    <Wrapper className="h-full my-20 flex flex-col justify-center lg:my-0">
      <ItemInViewAnimation delay={0.1} client:visible >
        <Caption>
          {blog.date}
        </Caption>
        <Heading className='text-neutral-50'>
          {blog.title}
        </Heading>
        <Paragraph className='text-neutral-50'>
          {blog.abstract}
        </Paragraph>
      </ItemInViewAnimation>
  </Wrapper>
  </main>
</Layout>../../contents/Blogs.astro