---
import Wrapper from '../../layouts/Wrapper';
import { Caption, Heading, Paragraph } from '../typography';
import qianhuiImage from '../../assets/qianhui.jpg';
import { ItemInViewAnimation } from '../InViewAnimation'
import Card from '../Card.astro';

export const projectList = [{
  href: "https://oxidized-yamamomo-68e.notion.site/Personal-Project-Process-of-Qianhui-cbf4796a4f16403c9d19a57709c0ed07?pvs=4",
  title: "Portfolio",
  slug: "portfolio",
  desc: "A personal project mainly focusing on user experience.",
  time: "Sep 2023 - Present",
  location: "Personal Project",
  tags: ["UX", "Portfolio"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/WechatIMG81.jpg",
  isVisible: false
},{
  href: "https://oxidized-yamamomo-68e.notion.site/Personal-Project-Process-of-Qianhui-cbf4796a4f16403c9d19a57709c0ed07?pvs=4",
  title: "Lingo Buddy",
  slug: "lingobuddy",
  desc: "A personal project mainly focusing on user experience.",
  time: "Jul 2023 - Present",
  location: "Personal Project",
  tags: ["Website", "Diary Study", "Figma", "React", "TypeScript", "Git"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/WechatIMG81.jpg",
  isVisible: true
}, {
  href: "https://github.com/zqh0421/tomas-react",
  title: "TOMAS",
  slug: "tomas",
  desc: "An ongoing HCI research project.",
  time: "Jul 2023 - Present",
  location: "University of Notre Dame",
  tags: ["Intelligent User Interface", "Prompt Engineering", "Storyboarding", "Git", "React", "Fastify"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/Screenshot%202023-07-18%20at%2013.52.04.png",
  isVisible: true
}, {
  href: "https://github.com/zqh0421/zqh0421.github.io",
  title: "Greeting from Qianhui",
  slug: "sourcecode",
  desc: "The source code Qianhui's personal website.",
  time: "Mar 2023 - Present",
  location: "Personal Project",
  tags: ["Astro", "React", "TailwindCSS", "TypeScript", "GitHub Page"],
  cover: qianhuiImage.src,
  isVisible: true
}, {
  href: "https://github.com/zqh0421/museumx",
  title: "MuseumX",
  slug: "museumx",
  desc: "The capstone project for my Software Engineering course.",
  time: "Mar - May 2023",
  location: "Beijing University of Chemical Technology",
  tags: ["Android Studio", "React Native", "Expo", "Git", "Figma", "Lark Docs"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/Screenshot%202023-07-19%20at%2014.49.59.png",
  isVisible: true
}, {
  href: "https://github.com/zqh0421/codegpt",
  title: "CodeGPT",
  slug: "codegpt",
  desc: "A research project at NCSU.",
  time: "Jan - Feb 2023",
  location: "North Calirona State University",
  tags: ["Prompt Engineering", "Intelligent Code Editor", "Figma", "Language Server Protocol"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/Screenshot%202023-07-19%20at%2014.48.06.png",
  isVisible: true
}, {
  href: "",
  title: "News Release Management System",
  slug: "newsrelease",
  desc: "The capstone project for my Database course.",
  time: "Oct - Dec 2022",
  location: "Beijing University of Chemical Technology",
  tags: ["MySQL", "React", "Express", "Hooks", "ECharts", "axios"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/shortest-path.png",
  isVisible: false
}, {
  href: "",
  title: "CatPlanet",
  slug: "catplant",
  desc: "The capstone project for my Wechat Miniprogram course.",
  time: "Aug 2022",
  location: "Beijing University of Chemical Technology",
  tags: ["Wechat Miniprogram", "UX/UI"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/shortest-path.png",
  isVisible: false
}, {
  href: "https://github.com/zqh0421/Find-Shortest-Path",
  title: "Finding Shortest Path",
  slug: "shortest",
  desc: "A course project for my Introduction of AI course.",
  time: "Mar - May 2022",
  location: "Beijing University of Chemical Technology",
  tags: ["GUI", "Python", "PyQt", "QtDesigner", "BFS", "DFS", "A-Star", "Visualization"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/shortest-path.png",
  isVisible: true
}, {
  href: "https://github.com/zqh0421/Find-Shortest-Path",
  title: "MarkovBot",
  slug: "markovbot",
  desc: "A course project for my Data Structure course.",
  time: "Dec 2021 - Jan 2022",
  location: "Beijing University of Chemical Technology",
  tags: ["Markov", "HTML", "HashMap"],
  cover: "https://pic-lib-z.oss-cn-beijing.aliyuncs.com/MuseumX/shortest-path.png",
  isVisible: false
}]
---

<section
  id="projects"
  class="relative z-10 w-full"
>
  <Wrapper className='border-b-[0.5px] border-neutral-600 py-28'>
    <ItemInViewAnimation className="flex flex-col items-center text-center" delay={0.1} client:visible >
        <Caption>PROJECTS</Caption>
        <Heading className='text-neutral-50'>I've worked on ...</Heading>
        <Wrapper>
          <ul role="list" class="projectList gap-8 p-0 grid grid-col-1">
            {
              projectList.map((project, index) => 
                project.isVisible && <Card
                  href={project.href}
                  title={project.title}
                  desc={project.desc}
                  time={project.time}
                  location={project.location}
                  tags={project.tags}
                  cover={project.cover}
                  slug={project.slug}
                  />)
            }
          </ul>
      </Wrapper>
    </ItemInViewAnimation>
  </Wrapper>
</section>